/* primary */

$turquesa: hsl(180, 66%, 49%);
$violeta: hsl(257, 27%, 26%);
$white-bg: #f2f2f2;
$white-primary: #fff;
$black-primary: hsl(0, 0%, 7%);
$black-secundary: hsl(255, 11%, 22%);
$black-tree: hsl(260, 8%, 14%);
$white-secundary: hsl(257, 7%, 63%);
