@import '../base/colors';
.container{
    &--form{
        width: 100vw;
        height: 100vh;
        background-color: $turquesa;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    &__form{
        width: 400px;
        background-color: $white-primary;
        border-radius: 1rem;
    }
}